BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_INSTRUCTIONS_THUMB2=y
BR2_HOST_DIR="$(BASE_DIR)/arm-linux-uclibc-gnueabihf"
BR2_KERNEL_MIRROR="https://www.kernel.org/pub"
BR2_GNU_MIRROR="http://ftp.gnu.org/pub/gnu"
BR2_CCACHE=y
# BR2_COMPILER_PARANOID_UNSAFE_PATH is not set
BR2_KERNEL_HEADERS_3_4=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_BINUTILS_VERSION_2_25_X=y
BR2_GCC_VERSION_4_9_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_TARGET_GENERIC_ROOT_PASSWD="thinkgreen"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
BR2_ROOTFS_OVERLAY="board/gws/wfb/rootfs"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/gws/wfb/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/gws/wfb/post_image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.4.108"
BR2_LINUX_KERNEL_PATCH="board/gws/wfb/patches/linux/{linux-3.4.108_*.patch,linux-3.4.108-x10dr_*.patch}"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/gws/wfb/linux.config"
BR2_PACKAGE_BUSYBOX_CONFIG="board/gws/wfb/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_RTL8814=y
BR2_TARGET_RTL8814_PATCH="board/gws/wfb/patches/rtl8814/{rtl8194_driver-v1.6_20151022.001_*.patch,rtl8194_driver-v1.6_20151022.001-x10dr_*.patch}"
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_LIBPCAP=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_DASH=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=4095
BR2_TARGET_ROOTFS_UBIFS_RT_ZLIB=y
BR2_TARGET_ROOTFS_UBIFS_OPTS="-U --space-fixup"
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_SUBSIZE=0
BR2_TARGET_ROOTFS_UBI_USE_CUSTOM_CONFIG=y
BR2_TARGET_ROOTFS_UBI_CUSTOM_CONFIG_FILE="board/gws/wfb/ubinize.cfg"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="g2_x10dr"
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2014.07"
BR2_TARGET_UBOOT_PATCH="board/gws/wfb/patches/u-boot/{u-boot-2014.07_*.patch,u-boot-2014.07-x10dr_*.patch}"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_FORMAT_DTB_BIN=y
BR2_PACKAGE_HOST_MTD=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SIGNATURE_SUPPORT=y
